@charset "utf-8";
/* CSS Document */
@media only screen and (max-width: 992px) {
	.mid-content>.container>.row>div, .abt-company>.container>.row>div,
		.footer .row>div, .end>.container>div, .main-content {
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 768px) {
	.header>.pull-right {
		float: left !important;
		margin-left: 20%;
	}
	.emrgncy-number {
		float: left;
	}
	.booking {
		padding-bottom: 20px;
	}
	.navbar-default {
		background: none;
		border: none;
	}
	.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover
		{
		color: #FFF;
	}
	.end .pull-right {
		float: left !important;
	}
	.sidebar .news-updates li:last-child {
		background: none;
	}
}

@media only screen and (max-width: 543px) {
	body {
		text-align: center;
	}
	.mid-content>.container>.row>div, .abt-company>.container>.row>div,
		.footer .row>div, .end>.container>div {
		width: 100%;
	}
	.news-updates li {
		background: url("../../img/sep-news.png") repeat-x center bottom;
	}
	.news-updates li:last-child {
		background: none;
	}
	.events li, .our-srvcs li a {
		background: none;
	}
	.booking {
		margin-left: -15px;
		margin-right: -15px;
	}
}

@media only screen and (min-width:768px) and (max-width: 992px) {
	.emrgncy-number {
		line-height: 130%;
	}
	.emrgncy-number p {
		font-size: 16px;
	}
}

/* Tablet Layout: 768px to 992px. Inherits styles from: Mobile Layout. */
@media only screen and (min-width: 768px) {
	.header h2 {
		font-size: 20px;
		color: #FFF;
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.emrgncy-number {
		margin-bottom: 30px;
		margin-top: 10px;
	}
	.emrgncy-number p {
		font-size: 17px;
	}
	.booking {
		padding-left: 0;
		position: absolute;
		right: 0;
		top: 350px;
	}
	.abt-company {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 992px) {
	.menu-wp {
		background: url('../../img/bg-menu.jpg') repeat-x;
		height: 60px;
		border-radius: 8px;
		margin-bottom: 0;
		overflow: hidden;
	}
	.menu-wp .navbar-nav>li>a, .menu-wp .navbar-nav>li>a:hover {
		font-family: 'Roboto', sans-serif;
		font-size: 15px;
		height: 59px;
		line-height: 29px;
	}
	.menu-wp .navbar-nav>.active>a, .menu-wp .navbar-nav>.active>a:hover {
		background: #FBFBFB;
	}
	.abt-company>.container>.row>div {
		padding-left: 45px;
		padding-right: 45px;
	}
	.abt-company>.container>.row {
		margin-left: -45px;
		margin-right: -45px;
	}
	.footer .container>.row {
		margin-left: -54px;
		margin-right: -54px;
	}
	.footer .container>.row>div {
		padding-left: 54px;
		padding-right: 54px;
	}
	.content {
		/*background: #F9F9F9 url("../../img/sep-page.png") repeat-y 67% center;*/
		border-right:1px solid #ececec;
	}
}
/* Large Display: 992px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 1200px) {
	.emrgncy-number {
		width: 42%;
	}
	.left.carousel-control {
		left: -150px;
	}
	.right.carousel-control {
		right: -150px;
	}
	.bnnr-wp {
		height: 357px;
	}
}