@charset "utf-8";

/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
object, embed, video {
	max-width: 100%;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width: 100%;
}

html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre,
	form, p, blockquote, fieldset, input, hr {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, th
	{
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

fieldset, img, hr {
	border: none;
}

caption, th {
	text-align: left;
}

.our-srvcs li, .news-updates li {
	list-style: none;
}

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-family: 'myriad';
	font-size: 13px;
	line-height: 150%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	font-weight:bold;
}

h1 {
	font-size: 25px;
	color: #243D59;
	font-family: 'Roboto', sans-serif;
}

h3 {
	font-family: 'myriad-regular';
	font-size: 63px;
	color: #222;
}

h4 {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #00A6DD;
	font-size: 18px;
	text-shadow: 0 0 1px #D5DFFF;
	font-weight: bold;
}

h6 {
	font-size: 13px;
	font-weight: bold;
	color: #707070;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	margin-bottom: 5px;
}

a, a:hover, a:focus {
	text-decoration: none;
	color: inherit;
}

a {
	opacity: 1;
}

a:hover {
	opacity: 0.95;
}

.bdrad0 {
	border-radius: 0;
}

.bd0 {
	border: 0;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 768px and below. */
body>hr {
	height: 4px;
	background: #F5191E;
}

body {
	/* height: 573px; */
	position:relative;
}

.bg{
	position:absolute;
	top:0;
	left:0;
	height:566px;
	background-color : #336aab;
	z-index: -1;
	width: 100%;
}

.tp {
	/* height: 573px; */
	padding-bottom: 10px;
}

.tp>.container {
	position: relative;
}

.emrgncy-number>img {
	margin-right: 10px;
}

.emrgncy-number {
	font-size: 13px;
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	margin-top: 10px;
	margin-bottom: 5px;
	line-height: 25px;
}

.emrgncy-number>div {
	padding-left: 5px;
	padding-right: 5px;
}

.emrgncy-number>div:first-child {
	padding-top: 8px;
}

.emrgncy-number.row {
	margin-left: -5px;
	margin-right: -5px;
}

.emrgncy-number p {
	font-size: 17px;
}

.header {
	margin-bottom: 20px;
	color: #FFF;
}

.lg {
	margin-top: 15px;
}

.srch-box {
	width: 43%;
}

.srch-box input {
	background: none;
	border-radius: 50px;
	padding-right: 35px;
	color: #FFF;
	height: 35px;
	line-height: 35px;
}

.srch-box input:-moz-placeholder, .srch-box input::-moz-placeholder {
	color: #FFF;
	font-style: italic;
}

.srch-box input::-webkit-input-placeholder, .srch-box input:-ms-input-placeholder
	{
	color: #FFF;
	font-style: italic;
}

.srch-btn {
	position: absolute;
	right: 20px;
	top: 4px;
}

.right.carousel-control, .left.carousel-control {
	background: none;
}

.bnnr-wp {
	max-width: 1600px;
	max-height: 357px;
	margin: 0 auto;
	overflow: hidden;
}

.mid-content {
	padding-top: 25px;
	padding-bottom: 25px;
	color: #9E9E9E;
}

.mid-content h4, .book-form label, .health-tips, .contact-form label {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: normal;
}

.mid-content h4, .book-form-hd, .abt-company h4, .news-updates h4,
	.our-srvcs h4, .contact-form h4 {
	margin-bottom: 15px;
	display: block;
}

.our-srvcs{
	line-height:1.75;
}
.our-srvcs li a {
	padding-left: 20px;
}

.booking h4, .health-tips h5, .contact-form h4 {
	font-size: 16px;
}

.booking h4, .contact-form h4 {
	color: #003862;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-weight: normal;
	font-size: 16px;
	margin-top: 8px;
}

.book-form {
	-webkit-box-shadow: 0 0 5px rgba(199, 199, 199, 0.65);
	-moz-box-shadow: 0 0 5px rgba(199, 199, 199, 0.65);
	box-shadow: 0 0 5px rgba(199, 199, 199, 0.65);
	padding-top: 15px;
	padding-bottom: 15px;
	background: #FFF;
	margin-bottom: 30px;
	border-radius: 2px;
}

.book-form-hd>img {
	margin-right: 10px;
}

.book-form input, .book-form select, .contact-form input, .contact-form select,
	.contact-form textarea {
	border: 1px solid #EEE;
	border-radius: 2px;
}

.health-tips {
	background: url("../../img/bg-health-tips.jpg");
	color: #FFF;
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: 120%;
	border-radius: 3px;
}

.health-tips h5 {
	margin-bottom: 5px;
}

.sep-content {
	background: url("../../img/sep-mid-content.png");
	height: 2px;
	margin-top: 40px;
}

.news-updates li {
	border-bottom: 1px solid #ececec;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.news-updates li:last-child {
	/*background: url("../../img/icon-news-arrow.png") no-repeat left top;*/
	padding-bottom: 0;
}

.events>div>div {
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.event-date {
	background: #E6ECFF;
	border-radius: 2px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #000;
	text-align: center;
}

.event-date>strong {
	font-size: 30px;
	display: block;
}

.footer {
	background: #E1F5FB;
	padding-top: 47px;
	padding-bottom: 47px;
	color: #2B5B99;
}

.footer h4 {
	color: #1D3F67;
	margin-bottom: 15px;
}

.footer a {
	display: block;

}

.footer-mng{
	float: left;
	width: 50%;
}

.footer .container>.row>div {
	padding-top: 20px;
}

.owl-controls {
	position: absolute;
	right: 53px;
	top: 19px;
}

.owl-buttons>div {
	float: left;
	margin-left: 5px;
	text-indent: -999999;
}
.owl-prev,.owl-next{
	width: 14px;
	height: 18px;	
	text-indent: -99999px;
}
.owl-prev {
	background: url("../../img/nav-btn_r1_c3.png") no-repeat;
}

.owl-next {
	background: url("../../img/nav-btn_r1_c1.png") no-repeat;
}

.social>a {
	display: inline-block;
	margin-top: 15px;
}

.end {
	padding-top: 15px;
	padding-bottom: 15px;
}

/* INNER PAGES */
.content {
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 4px;
	background: #F9F9F9;
	margin-top: 30px;
	margin-bottom: 50px;
}

.innr-bnnr {
	margin-bottom: 20px;
}

.innr-bnnr .img-bnnr{
	max-width:725px !important; 
	height:auto;
}
	
.content h1 {
	padding-bottom: 10px;
	margin-bottom: 25px;
	border-bottom: 1px solid #ececec;
}

.main-content {
	font-family: 'Roboto', sans-serif;
	color: #333;
}

.sidebar>aside {
	padding-bottom: 15px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ececec;
}

.sidebar>aside:last-child {
	border-bottom: none;
}

.contact-form {
	margin-top: 20px;
}

.contact li {
	list-style-position: inside;
}

iframe {
	width: 100%;
	overflow: hidden;
}

.gallery-list>div {
	min-height: 100px;
	margin-bottom: 15px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	background-color: floralwhite;
}

.desc-justify{
	text-align:justify;
	line-height: 1.75;
}

.desc-justify ul{
	margin-left:15px;
}

.read-more{
	color:#00A6DD;
}

.ul-news{
	margin-top:10px;
	margin-bottom:10px;
	margin-left:15px;
}

.news-section{
	text-align:justify;
	margin-bottom:15px;
}

.desc-date{
	margin-bottom: 10px;
	font-style: italic;
}

.event-list{
	border-bottom: 1px solid #ececec;
}

.modal-content{
	font-weight:100 !important;
}

.sidebar-color{
	border-left:1px solid #ececec;
}

.squre-thumb{
	overflow:hidden;
	height: 150px;
	width:150px;
	border:1px solid #DDD;
	position:relative;
}

.img-thumb{
	width:200%;
	position:absolute;
	top:0;
	left:0;
}

/*Form placeholder styling*/
::-webkit-input-placeholder {
	font-size:14px;
	color:#DDD !important;
	font-style:italic;
}
::-moz-placeholder {
	font-size:14px;
	color:#DDD !important;
} /* firefox 19+ */
:-ms-input-placeholder {
	font-size:14px;
	color:#DDD !important;
} /* ie */
input:-moz-placeholder {
	font-size:14px;
	color:#DDD !important;
}

