/* CSS Document */

@import url(normalize.css);
@import url(animate.css);
@import url(http://fonts.googleapis.com/css?family=Roboto:500,300,700);


body {
	position: relative;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
	color: #333;
}

.row {
	position: relative;
}

.margin-reset {
	margin: 0px !important;
}

.padding-reset {
	padding: 0px !important;
}

.btn, a {
	outline: 0 !important;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, .btn, .title, .subtitle {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
}

.alert {
	font-style: italic;
}

.alert-danger {
	background: #f25648;
	border: 0;
	color: #fff;
	padding: 25px;
}

.alert-dismissable .close, .alert-dismissible .close {
	position: static;
}

.alert.no-js {
	z-index: 9999;
	position: fixed;
	width: 100%;
	left: 0;
	right: 0;
	text-align: center;
	border-radius: 0px;
	background: #f25648;
	border: 0;
	color: #fff;
}

/******************************color swatch***********************/

.yellow{
	background:#FFB914;
	border-bottom:3px solid #D29913;
}

.orange{
	background:#FF8826;
	border-bottom:3px solid #C76413;
}

.red{
	background:#F03813;
	border-bottom:3px solid #BE2B0D;
}

.teal{
	background:#009688;
	border-bottom:3px solid #05675E;
}

/***************************************************************/

/*************************app header**************************/

.app-header{
	background:#009688;
	border:none;
	height:60px;
	margin:0px;
}

.navbar-brand{
	height:60px;
}

.navbar-header{
	float:left;
}

.navbar-brand img{
	height:30px;
}

.user {
	margin-top: 22px;
	margin-bottom: 22px;
	color:#fff !important;
	font-weight:300;
	float:right;
	text-transform:uppercase;
	font-size:12px;
}

/************************************************************/


/***********************app body*****************************/

.app-body{
	margin-top:60px;
}

.app-page-title{
	font-size:15px;
	font-weight:700;
	padding:15px;
	color:#009688;
	background:#E0F2F1;
	text-transform:uppercase;
	text-align:center;
	letter-spacing:5px;
	margin:0px;
}

.request-list{
	list-style:none;
	padding:0px;
	height:100%;
}

.request-list li{
	display:block;
	height:25%;
	margin:15px 0px;
	border-radius:5px;
	overflow:hidden;
}

.request-list li a{
	padding:25px 15px;
	display:block;
	height:inherit;
	text-decoration:none;
	color:#fff;
	font-weight:700;
	font-size:18px;
	text-transform:uppercase;
}

.request-list li a:hover{
	background:rgba(0,0,0,0.06);
}

.request-list .fa{
	margin-right:15px;
	font-size:15px;
	text-align:center;
	width:15px;
}

.request-list .badge{
	float:right;
	background:#fff;
	color:#333;
	font-weight:700;
	font-size:15px;
}

.form-group{
	margin-top:25px;
}

.modal .form-group{
	margin-top:0px;
}

.form-control{
	box-shadow:none !important;
	height:50px;
}

.form-control:focus{
	border-color:#009688;
}

#accordion a{
	text-decoration:none;
}

.panel{
	border-left:none;
	border-right:none;
	border-top:none;
	border-radius:0px !important;
	box-shadow: none !important;
	margin:0px !important;
}

.panel:last-child{
	border-bottom:none;
}

.panel-heading{
	padding:25px 15px;
	border:none;
	border-radius:0px;
	background:#fff !important;
}

.btn-wrapper{
	margin-bottom:0px;
}

.btn{
	font-weight:300;
	height:40px;
	font-size:15px;
	line-height:25px;
	min-width:120px;
	border-radius:25px;
}

.panel-body{
	font-weight:300;
	line-height:25px;
	font-size:13px;
	background:#eee;
}

.approved-by{
	display:inline-block;
	font-size:12px;
	color:#3c763d;
	font-weight:300;
	font-style:italic;
	margin-left:10px;
}

.declined-by{
	display:inline-block;
	font-size:12px;
	color:#a94442;
	font-weight:300;
	font-style:italic;
	margin-left:10px;
}

textarea{
	resize:none;
}



/************************************************************/